<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.min.js"></script>
  <link rel="stylesheet" href="./style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif:400,700&display=swap" rel="stylesheet">
  <title>Techno</title>
</head>

<body>
  
<div id="app">
  <button @click="removerItem ">Remover</button>
  <header class="header">
    <img class="logo" src="./assets/techno.svg" alt="techno">
    <div class="carrinho_menu">{{carrinhoTotal}} | </div>
    <ul>
      <li v-for="item in carrinho">
        <p> {{item.nome}} </p>>
        <button S>Remover</button>
      </li>
    </ul>
  </header>

  <section class="produtos">
    <div v-for="item in produtos" @click="fetchProduto(item.id)" :key="item.id" class="produto">
      <img :src="item.img" alt="item.nome" class="produto_img" />
      <div class="produto_info">
        <span class="produto_preco">{{item.preco | numeroPreco}} </span>
        <h2 class="protudo_titulo">{{item.nome | maiuscula}} </h2>
      </div> 
    </div>
  </section>
  
   
  <section class="modal" v-if="produto" @click="abrirModal">
    <div class="modal_container">
      <div class="modal_img">
        <img :src="produto.img" :alt="produto.nome"></img>
      </div>
      <div class="modal_dados">
        <button @click ="produto = false" class="modal_fechar">X</button>
        <span class="modal_preco">{{produto.preco}}</span>
        <h2 class="modal_produto">{{produto.nome}}</h2>
        <p>{{produto.descricao}}</p>
         <button v-if="produto.estoque>0" class="modal_btn" @click="adicionarItem">Adicionar Item</button>
         <button v-else class="modal_btn esgotado" disabled>Produto Esgotado</button>
      </div>
      <div class="avaliacoes">
        <h2 class="avaliacoes_subtitulo">Avaliações</h2>
        <ul>
          <li v-for="avaliacao in produto.avaliacoes" class="avaliacao">
            <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
            <p class="avaliacao_usuario">{{avaliacao.nome}}  {{avaliacao.estrelas}} Estrelas</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
 
</div>
  <script src="./app.js"></script>
</body>

</html>